<!DOCTYPE html>
<html>
<title>Issue Tracking System</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script data-require="bootstrap@*" data-semver="3.1.1"
    src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet"
    href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/styles.css">

<body id="top_page">

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-card" id="myNavbar">
            <a href="/" class="w3-bar-item w3-button w3-wide">HOME</a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small">
                <a href="/login" class="w3-bar-item w3-button"><i class="fa fa-login"></i> LOGIN</a>
                <a href="/logout" class="w3-bar-item w3-button"><i class="fa fa-logout"></i> LOGOUT</a>
                <a href="/issues" class="w3-bar-item w3-button"><i class="fa fa-ticket"></i> ISSUE</a>
                <a href="/employees" class="w3-bar-item w3-button"><i class="fa fa-user"></i> EMPLOYEE</a>
                <a href="/categories" class="w3-bar-item w3-button"><i class="fa fa-tags"></i> CATEGORY</a>
                <a href="/roles" class="w3-bar-item w3-button"><i class="fa fa-cogs"></i> ROLE</a>
            </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->

            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
                onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large"
        style="display:none" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close
            ×</a>
        <a href="/login" onclick="w3_close()" class="w3-bar-item w3-button"> LOGIN</a>
        <a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button"> LOGOUT</a>
        <a href="/issues" onclick="w3_close()" class="w3-bar-item w3-button"> ISSUE</a>
        <a href="/employees" onclick="w3_close()" class="w3-bar-item w3-button"> EMPLOYEE</a>
        <a href="/categories" onclick="w3_close()" class="w3-bar-item w3-button"> CATEGORY</a>
        <a href="/roles" onclick="w3_close()" class="w3-bar-item w3-button"> ROLE</a>
    </nav>

    <!-- Main Content -->
    <div class="w3-container w3-light-grey" style="padding:128px 16px" id="student">
        <h3 class="w3-center"> CATEGORY </h3>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <% if(notif) { %>
                        <div class="alert alert-success" role="alert">
                            <%= notif %>
                        </div>
                        <% } %>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    <h4 class="w3-center">Add New Category</h4>

                    <form action="/categories" method="post">
                        <p><input class="w3-input w3-border" type="text" placeholder="Input category" required
                                name="category_name"></p>
                        <p>
                        <p><input class="w3-input w3-border" type="text" placeholder="Input category initial" required
                                name="category_initial"></p>
                        <p>
                            <a class="w3-button w3-blue" href="/"><i class="fa fa-undo"></i>
                                BACK</a>
                            <button class="w3-button w3-green" type="submit">
                                <i class="fa fa-paper-plane"></i> SUBMIT
                            </button>
                        </p>
                    </form>
                </div>


                <div class="col-7">
                    <h4 class="w3-center">List Category</h4><br>

                    <table class="table table-hover align-items-center">
                        <thead class="text-center">
                            <tr>
                                <th scope="col" class="text-center">Category Name</th>
                                <th scope="col" class="text-center">Category Initial</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% data.forEach(el=> {%>
                                <tr>
                                    <td class="text-center">
                                        <%= el.category_name %>
                                    </td>
                                    <td class="text-center">
                                        <%= el.category_initial %>
                                    </td>
                                    <td class="d-flex align-items-center justify-content-start">
                                        <a class="m-1 btn btn-warning" data-toggle="tooltip" title="Edit"
                                            href="/categories/edit/<%= el.id %>"><i class="fa fa-edit"></i></a>
                                        <a class="m-1 btn btn-danger" data-toggle="tooltip" title="Delete"
                                            href="/categories/delete/<%= el.id %>"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>


    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-16">
        <a href="#top_page" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
        <div class="w3-xlarge w3-section">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
        <p class="w3-hover-text-green">Abdullah & Gulis - 2021</p>
    </footer>

    <script>
        // Toggle between showing and hiding the sidebar when clicking the menu icon
        var mySidebar = document.getElementById("mySidebar");

        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
            } else {
                mySidebar.style.display = 'block';
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
        }
    </script>

</body>

</html>