<!DOCTYPE html>
<html>
<title>Issue Tracking System</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script data-require="bootstrap@*" data-semver="3.1.1"
    src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet"
    href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/styles.css">

<body id="top_page">
    <!--Top Navigation Bar-->
    <%- include('nav') %>

    <!-- Main Content -->
    <div class="w3-container w3-light-grey" style="padding:128px 16px" id="student">
        <h3 class="w3-center"> Employee </h3>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <% if(notif) { %>
                        <div class="alert alert-success" role="alert">
                            <%= notif %>
                        </div>
                    <% } %>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <h4 class="w3-center">Add New Employee</h4>

                    <form action="/employees/add" method="post">
                        <p><input class="w3-input w3-border" type="text" placeholder="Input Username" required
                                name="employee_username"></p>
                        <p>
                        <p><input class="w3-input w3-border" type="password" placeholder="Input Password" required
                                name="employee_password"></p>
                        <p>
                        <p><input class="w3-input w3-border" type="text" placeholder="Input First Name" required
                                name="employee_first_name"></p>
                        <p>
                        <p><input class="w3-input w3-border" type="text" placeholder="Input Last Name" required
                                name="employee_last_name"></p>
                        <p>
                        <p><select id="employee_role_id" name="employee_role_id">
                                <option disabled selected>Select</option>
                                <% roles.forEach(res =>{%>
                                        <option value="<%= res.id %>"><%= res.role_name %></option>
                                <% }) %>     
                            </select><br></p>
                        <p>
                            <a class="w3-button w3-blue" href="/"><i class="fa fa-undo"></i>
                                BACK</a>
                            <button class="w3-button w3-green" type="submit">
                                <i class="fa fa-paper-plane"></i> SUBMIT
                            </button>
                        </p>
                    </form>
                </div>

                <div class="col-6">
                    <h4 class="w3-center">List Employee</h4><br>

                    <table class="table table-hover align-items-center">
                        <thead class="text-center">
                            <tr>
                                <th scope="col" class="text-center">Employee Name</th>
                                <th scope="col" class="text-center">Role</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% data.forEach(el=> {%>
                                <tr>
                                    <td class="text-center">
                                        <%= el.fullName %>
                                    </td>
                                    <td class="text-center">
                                        <%= el.role.role_name %>
                                    </td>
                                    <td class="d-flex align-items-center justify-content-start">
                                        <a class="m-1 btn btn-warning" data-toggle="tooltip" title="Edit"
                                            href="/employees/edit/<%=el.id%>"><i class="fa fa-edit"></i></a>
                                        <a class="m-1 btn btn-danger" data-toggle="tooltip" title="Delete"
                                            href="/employees/delete/<%=el.id%>"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>


    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-16">
        <a href="#top_page" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
        <div class="w3-xlarge w3-section">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
        <p class="w3-hover-text-green">Abdullah & Gulis - 2021</p>
    </footer>

    <script>
        // Toggle between showing and hiding the sidebar when clicking the menu icon
        var mySidebar = document.getElementById("mySidebar");

        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
            } else {
                mySidebar.style.display = 'block';
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
        }
    </script>

</body>

</html>